# Core libraries
accelerate
bitsandbytes
chromadb
langchain
langchain-core
langchain-text-splitters
langchain-community
pydantic
pydantic_core
sentence-transformers
streamlit == 1.38.0
tiktoken
torch
transformers
sqlalchemy
google-auth-oauthlib
google-auth
google-api-python-client

